/* .footer {
    background-color: #202738;
}

html * {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

user agent stylesheet section {
    display: block;
}

body {
    color: #5b6f81;
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.01rem;
    line-height: 1.4;
    font-family: "Mulish", sans-serif;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1023px) html {
    font-size: 55%;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
} */